<%- include('partials/_header') %>
<body>
    <%- include('partials/_navigation') %>
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('/img/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1><%= blog.title %></h1>
            <span class="meta">Posted by
              <a href="#">Start Bootstrap</a>
              on <%= blog.dateCreated %></span>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="container d-flex align-items-center justify-content-end">
    <!-- Share box -->
    <div>
      <!-- align-right d-inline-block r-0 -->
        <a href="/blogs/edit/<%= blog._id %>" class="btn btn-primary p-1"><span>Update Details</span></a>	
        <a onclick="return confirm('Blog silinecektir. Emin misiniz?')"
        href="/blogs/<%=blog._id %>?_method=DELETE" class="btn btn-danger p-1"><span>Delete Blog</span></a>	
    </div>
  </div>
  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <%= blog.detail %>
        </div>
      </div>
    </div>
  </article>
  <hr>
      <%- include('partials/_footer') %>
</body>
</html>
